{% extends 'login_page.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="container">
    <div class="forms-container">
    
    <div class="signin-signup">
       
        <form method="POST" action="{% url 'update_password' %}" class="sign-in-form">
          {% csrf_token %}
          <h2 class="title">Forgot Password</h2>
          {% include 'messages.html' %}
          
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="text" name="email" placeholder="Enter your Email" required="yes">
          </div>

          <input type="submit" value="Verify Email" class="btn solid">
        </form>
  </div>
</div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Forgot your Password?</h3>
          <p>Don't Worry!<br> Just Enter your <strong>Credentials</strong> and we will send you a link to reset it.<br><br><br><br><br><br><br><br><br></p>
        </div>
      </div>

    </div>
  </div>


{% endblock %}

