{% extends 'index.html' %}

{% block title %}Market Summary{% endblock %}

{% block head %} 

{% endblock %}

{% block content %}

{% if table_dsg %}

<div class="search_card">
    
    <div class="five">
        <h1>Market Summary</h1>
    </div>

    {{ table_dsg|safe }}    

    <form action="{% url 'data_download' %}" method="post" required="yes">
        {% csrf_token %}
        <div class="market_button">
            <button type="submit" name="mrsum_btn" value="Download Data" class="btn-1" >Download Data</button>
        </div>
    </form>
</div>
    
{% else %}

    <p>No graph was provided.</p>
    
{% endif %}

{% endblock %}