{% extends 'login_page.html' %}

{% load static %}

{% block title %}Register Page{% endblock %}

{% block content %}

<div class="container sign-up-mode">
    <div class="forms-container">
    
    <div class="signin-signup">
       
    <!-- Registration Part -->
      <form method="POST" action="{% url 'register_user' %}" class="sign-up-form" name="sign-up" id="sign_up_form">
        <h2 class="title">Register Here</h2>

        {% include 'messages.html' %}
        
        {% csrf_token %}
        <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Username..." id="username" >
        </div>

        <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" placeholder="Email..." id="email" >
        </div>
        
        <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" name="password1" placeholder="Password" id="id_reg" >
        <i class="far fa-eye" id="toggleReg" style="cursor: pointer;"></i>
        </div>

        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password2" placeholder="Confirm Password" id="id_reg1" >
            <i class="far fa-eye" id="toggleReg1" style="cursor: pointer;"></i>
        </div>

        <label class="check">
        <input type="checkbox" required="yes">
        <span class="checkmark">I accept the <a href="#">terms and services</a></span>
        </label>

        <input type="submit" value="Create account" class="btn solid">
    
    </form>
  </div>
</div>

<div class="panels-container">
    <div class="panel right-panel">
        <div class="content">
          <h3>Already have an account?</h3>
          <p>Click Below to Sign in to your account.</p>
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button class="btn transparent">Sign in
          </button>
        </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}
