*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

li{
	list-style: none;
}

p{
	font-size: 1.0rem;
	line-height: 1.6;
	font-weight: 400;
	color: #606060;
}

h2{
	font-size: 1.3rem;
	font-weight: 400;
	margin: 20px 0 15px 0;
	line-height: 1.1;
	word-spacing: 4px;
}

/*********** Start of Header Part ***********/

.header{
	height: 100%;
	height: 120vh;
	background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0, 170, 255, 0.597)), url('/static/images/favicon_3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
}

.header:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	opacity: 0.2;
}

.navbar:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	opacity: 0.8;
}

 .header-section{
	width: 100%;
	height: inherit;
	color: #fff;
	text-align: center;
	position: relative;
} 

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 12%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.header-buttons a{
	border: 1px solid black;
	border-radius: 100px;
	margin: 30px 5px;
	padding: 12px 35px;
	color: black;
	outline: none;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
}

.header-buttons a:hover{
	color: black;
	background: #16ddc3;
	transform: skew(0.3);
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.header-section p{
	font-size: 1.3rem;
	padding: 0px 0 20px 0;
	color: black;
}

/***************** End of Header Part ****************/

/***************** Start of Three Extra Div ****************/

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto;
  max-width: 1200px;
  width: 100%;
}

.card
{
  background: white;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  color: slate;
  cursor: pointer;
  flex-basis: calc(33% - 40px);
  margin: 20px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  transition: .5s ease all;
}


.card::before {
      background: white;
      border-radius: 40px;
      height: 5px;
      content: '';
      left: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      transition: .5s ease all;
}

  h2, p {
      position: relative;
      z-index: 2;
}

  h2 {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      box-shadow: 0 1px 0 rgba(255,255,255,0.3);
      margin: 0 0 20px 0;
      padding: 0 0 10px 0;
}

  p {
      margin: 10px 0 0;
}

.card.purple:before {
  /* background-image: linear-gradient(153deg, #EF33F2 0%, #3367d1 95%); */
	background-image: linear-gradient(153deg, #F8C332 0%, #b5fb32 95%);

}

.card.yellow:before {
  background-image: linear-gradient(153deg, #F8C332 0%, #FB8332 95%);
}

.card.green:before {
  background-image: linear-gradient(153deg, #8ADC32 0%, #25C7A2 95%);
}

.card:hover {
  border: 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  color: white;
  transform: scale(1.05);
  z-index: 2;
}

.card:hover::before {
      border-radius: 20px;
      left: 0;
      height: 100%;
      right: 0;
      top: 0;
}

  h2, p {
      text-shadow: 2px 1px 3px rgba(0,0,0,0.2);
}

@media(max-width:1500px) 
{
  h1 {
      font-size: 30px;
}
  .main-container {
      flex-direction: column;
      max-width: 600px;
}
  .card {
      margin: 0 0 10px 0;
      width: 100%;
}
}


/***************** End of Three Extra Div ****************/

